
@{
    @model AppLojaBoa.Models.Produto
    ViewBag.Title = "Produto";
}

<h2>Produto</h2>
<br />
<p>@Model.prodID</p>
<p>@Model.prodNome</p>
<p>@Model.prodValor</p>
<p>@Model.prodQtd</p>

